Repository rotemee/elementor, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kingyes, @kobizz, @matipojo, @joshmarom

.github/CODEOWNERS:

# Default
*                                 		@kingyes
*.js                              		@kobizz @matipojo
*.php                             		@matipojo

# Assets
/assets/dev/js/editor/commands    		@matipojo
/assets/dev/scss                  		@kobizz

# External Libraries
/assets/lib                       		@kingyes
/assets/shapes                    		@joshmarom

# Tools
/bin                              		@kingyes
/Gruntfile.js                     		@kingyes
/.grunt-config                    		@kingyes

# Core
/core                             		@kingyes
/core/app                             	@matipojo @kobizz
/core/admin                       		@kingyes
/core/base                        		@kingyes @matipojo @kobizz
/core/base/db-upgrades-manager.php		@kingyes @matipojo
/core/base/background-task.php			@kingyes @matipojo
/core/base/background-task-manager.php	@kingyes @matipojo
/core/common                      		@kobizz
/core/common/modules/ajax         		@kobizz @matipojo
/core/common/modules/connect      		@matipojo
/core/common/modules/finder       		@kobizz
/core/debug                       		@matipojo
/core/document-types              		@matipojo
/core/dynamic-tags                		@kobizz
/core/editor                      		@kobizz
/core/experiments                 		@kobizz
/core/kits                        		@matipojo @kobizz
/core/files                       		@kobizz @matipojo
/core/logger                      		@matipojo
/core/responsive                  		@kobizz
/core/role-manager                		@kobizz
/core/settings                    		@matipojo
/core/upgrade                     		@kingyes @matipojo
/core/utils                       		@kingyes @matipojo @kobizz

# Includes
/includes/admin-templates         		@kingyes @kobizz
/includes/controls                		@kingyes @kobizz
/includes/editor-templates        		@kobizz
/includes/libraries               		@kingyes @matipojo
/includes/managers                		@kingyes @matipojo @kobizz
/includes/schemes                 		@kobizz
/includes/settings                		@kingyes @kobizz
/includes/settings/system-info    		@kobizz

/includes/api.php                 		@kingyes
/includes/autoloader.php          		@kobizz
/includes/base/controls-stack.php 		@kobizz
/includes/base/element-base.php   		@kingyes @kobizz
/includes/base/skin-base.php      		@matipojo
/includes/base/widget-base.php    		@kingyes @kobizz
/includes/base/controls-stack.php 		@kobizz
/includes/beta-tester.php         		@kingyes
/includes/compatibility.php       		@matipojo
/includes/conditions.php          		@kobizz
/includes/db.php                  		@kingyes @matipojo
/includes/elements/column.php     		@kingyes @kobizz
/includes/elements/repeater.php   		@kingyes @matipojo
/includes/elements/section.php    		@kingyes @kobizz
/includes/embed.php               		@kobizz
/includes/fonts.php               		@kingyes
/includes/frontend.php            		@kingyes @kobizz @matipojo
/includes/heartbeat.php           		@kingyes
/includes/maintenance.php         		@kingyes
/includes/maintenance-mode.php    		@matipojo
/includes/plugin.php              		@kingyes @kobizz @matipojo
/includes/preview.php             		@kingyes @kobizz @matipojo
/includes/rollback.php            		@kingyes
/includes/shapes.php              		@kobizz
/includes/stylesheet.php          		@kobizz
/includes/tracker.php             		@kingyes @matipojo
/includes/user.php                		@kobizz
/includes/utils.php               		@kobizz @matipojo

# Template Library
/includes/template-library        		@kingyes @kobizz

# Widgets
/includes/widgets                 		@kingyes @kobizz

# Modules
/modules                          		@matipojo
/modules/dynamic-tags             		@matipojo @kobizz
/modules/library             			@matipojo @kobizz
/modules/system-info             		@matipojo @kobizz
/modules/gutenberg                		@kingyes

# Tests
/tests                            		@kingyes @matipojo

Infrastructure.
  .grunt-config/webpack.js
  core/app/modules/import-export/assts/js/pages/import/import.js
  package.json
Owners: @kingyes, @matipojo, @kobizz

Basic Infrastructure - With Material UI Button.
  core/app/assets/js/app-packages.js
  core/app/assets/js/index.js
  core/app/assets/js/ui/molecules/button.js
  core/app/modules/site-editor/assets/js/molecules/site-part.js
  core/app/modules/site-editor/assets/js/package.js
  package-lock.json
  package.json
Owners: @matipojo, @kobizz, @kingyes

Basic Infrastructure - With Material UI Button.
  core/app/assets/js/app-packages.js
  core/app/assets/js/index.js
  core/app/assets/js/ui/molecules/button.js
  core/app/modules/site-editor/assets/js/molecules/site-part.js
  core/app/modules/site-editor/assets/js/package.js
  package-lock.json
  package.json
Owners: @matipojo, @kobizz, @kingyes

Importing Json tokens and maps.
  core/app/assets/eps/breakpoints.js
  core/app/assets/eps/colors.js
  core/app/assets/eps/data/breakpoints/breakpoints.json
  core/app/assets/eps/data/colors/palette.json
  core/app/assets/eps/data/spacing/spacing.json
  core/app/assets/eps/direction.js
  core/app/assets/eps/index.js
  core/app/assets/eps/maps/breakpoints/breakpoints.js
  core/app/assets/eps/maps/colors/theme-colors.js
  core/app/assets/eps/maps/colors/tints.js
  core/app/assets/eps/maps/spacing/spacing.js
  core/app/assets/eps/spacing.js
  core/app/assets/eps/utils.js
  core/app/assets/eps/variants/button.js
  core/app/assets/eps/variants/heading.js
  core/app/assets/eps/variants/index.js
  core/app/assets/eps/variants/text.js
Owners: @matipojo, @kobizz

Using Material Button in promotion page while reading color values from JSON tokens.
  core/app/assets/js/app.js
  core/app/assets/js/ui/molecules/button.js
  core/app/modules/site-editor/assets/js/pages/promotion.js
Owners: @matipojo, @kobizz

Overriding component style to create additional variation.
  core/app/assets/js/ui/molecules/button.js
Owners: @matipojo, @kobizz

With external theme file and js-to-css weboack plugin.
  .grunt-config/js-to-scss.js
  .grunt-config/webpack.js
  assets/dev/scss/app/e-style.scss
  core/app/assets/eps/theme.js
  core/app/assets/js/app.js
  core/app/assets/js/ui/molecules/button.js
Owners: @kingyes, @kobizz, @matipojo

Tweak - Initial changes.
  .grunt-config/webpack.js
  assets/dev/js/frontend/document.js
  assets/dev/js/frontend/elements-handlers-manager.js
  assets/dev/js/frontend/handlers/base.js
  assets/dev/js/frontend/tools/stretch-element.js
  assets/dev/js/frontend/utils/anchors.js
  assets/dev/js/frontend/utils/lightbox/lightbox.js
  assets/dev/js/modules/imports/module.js
  assets/dev/js/modules/imports/utils/masonry.js
  assets/dev/js/modules/imports/view-module.js
  assets/dev/js/utils/hooks.js
  package.json
Owners: @kingyes, @kobizz, @matipojo

Tweak: Basic infrastructur.
  .grunt-config/webpack.alias.js
  core/app/assets/e-styles/_data/breakpoints/breakpoints.json
  core/app/assets/e-styles/_data/colors/palette.json
  core/app/assets/e-styles/_data/spacing/spacing.json
  core/app/assets/e-styles/_maps/breakpoints/breakpoints.js
  core/app/assets/e-styles/_maps/colors/theme-colors.js
  core/app/assets/e-styles/_maps/colors/tints.js
  core/app/assets/e-styles/_maps/spacing/spacing.js
  core/app/assets/e-styles/button/index.js
  core/app/assets/e-styles/heading/index.js
  core/app/assets/e-styles/index.js
  core/app/assets/js/layout/page.js
  core/app/assets/js/styled/button/styled-button.js
  core/app/assets/js/styled/grid/styled-grid.js
  core/app/assets/js/styled/heading/styled-heading.js
  core/app/assets/js/styled/index.js
  core/app/assets/js/styled/theme.js
  core/app/assets/js/styled/utils.js
  core/app/modules/import-export/assets/js/pages/export/export-kit/export-kit.js
  package-lock.json
  package.json
Owners: @kingyes, @matipojo, @kobizz

Tweak - Refactoring.
  core/app/assets/e-styles/heading/index.js
  core/app/assets/js/layout/page.js
  core/app/assets/js/styled/utils.js
Owners: @matipojo, @kobizz

Tweak: Removing a temporary BC handling.
  assets/dev/js/frontend/frontend.js
  assets/dev/js/frontend/utils/swiper.js
Owners: @kobizz, @matipojo

Tweak: Adjusting the widget promotional popup CTA text.
  assets/dev/js/editor/utils/promotion.js
Owners: @kobizz, @matipojo

WIP module federation
  modules/editor-packages-loader/module.php
  packages/editor-shell/dist/main.js
  packages/editor-shell/dist/vendors-node_modules_react_index_js-_1119.js
  packages/editor-shell/dist/vendors-node_modules_react_index_js-_9971.js
  packages/editor-shell/dist/vendors-node_modules_react_index_js-_ab5b.js
  packages/editor-shell/dist/vendors-node_modules_react_index_js.js
  packages/editor-shell/index.js
  packages/editor-shell/package-lock.json
  packages/editor-shell/package.json
  packages/editor-shell/webpack.config.js
  packages/locations/components/slot.js
  packages/locations/utils/getOrLoadRemote.js
  packages/locations/utils/loadComponent.js
  packages/package-lock.json
  packages/package.json
  packages/top-bar/dist/components_top-bar_js.js
  packages/top-bar/dist/main.js
  packages/top-bar/dist/remoteEntry.js
  packages/top-bar/dist/vendors-node_modules_react_index_js.js
  packages/top-bar/index.js
  packages/top-bar/package.json
  packages/top-bar/webpack.config.js
  packages/webpack.config.js
Owners: @matipojo, @kobizz, @kingyes

internal: creating the editor packages infra
  app/app.php
  core/editor/assets/js/editor-loader-v2.js
  core/editor/editor.php
  modules/editor-packages-loader/module.php
  packages/editor-shell/bootstrap.js
  packages/editor-shell/dist/main.js
  packages/editor-shell/dist/vendors-node_modules_react_index_js-_1119.js
  packages/editor-shell/dist/vendors-node_modules_react_index_js-_9971.js
  packages/editor-shell/dist/vendors-node_modules_react_index_js-_ab5b.js
  packages/editor-shell/dist/vendors-node_modules_react_index_js.js
  packages/editor-shell/index.js
  packages/editor-shell/package-lock.json
  packages/editor-shell/package.json
  packages/locations/components/slot.js
  packages/locations/index.js
  packages/locations/package.json
  packages/locations/webpack.config.js
  packages/notes/components/notes.js
  packages/notes/index.js
  packages/notes/package.json
  packages/notes/tests/index.test.js
  packages/notes/webpack.config.js
  packages/package-lock.json
  packages/package.json
  packages/top-bar/components/TopBar.js
  packages/top-bar/dist/components_top-bar_js.js
  packages/top-bar/dist/main.js
  packages/top-bar/dist/remoteEntry.js
  packages/top-bar/dist/vendors-node_modules_react_index_js.js
  packages/top-bar/index.js
  packages/top-bar/webpack.config.js
Owners: @matipojo, @kobizz, @kingyes

tweak: refactoring
  packages/locations/components/slot.js
  packages/top-bar/components/TopBar.js
Owners: @kobizz, @matipojo

tweak: refactoring
  packages/editor-shell/webpack.config.js
  packages/locations/index.js
  packages/locations/webpack.config.js
  packages/notes/webpack.config.js
  packages/package-lock.json
  packages/top-bar/webpack.config.js
Owners: @kobizz, @matipojo, @kingyes

Tweak: AI Images UI [ED-10886] (#22619)
  modules/ai/assets/js/editor/components/prompt-action-selection.js
  modules/ai/assets/js/editor/components/prompt-dialog.js
  modules/ai/assets/js/editor/components/textarea.js
  modules/ai/assets/js/editor/components/ui/panel.js
  modules/ai/assets/js/editor/hooks/use-image-prompt-settings.js
  modules/ai/assets/js/editor/hooks/use-image-upload.js
  modules/ai/assets/js/editor/media-dialog.js
  modules/ai/assets/js/editor/page-content.js
  modules/ai/assets/js/editor/pages/form-code/code-block.js
  modules/ai/assets/js/editor/pages/form-media/consts/consts.js
  modules/ai/assets/js/editor/pages/form-media/index.js
  modules/ai/assets/js/editor/pages/form-media/panel-content/form-controls/prompt-form.js
  modules/ai/assets/js/editor/pages/form-media/panel-content/image-prompt-form.js
  modules/ai/assets/js/editor/pages/form-media/panel-content/image-variations-form.js
  modules/ai/assets/js/editor/pages/form-media/screens/components/results-grid.js
  modules/ai/assets/js/editor/pages/form-media/screens/components/zoom-image.js
  modules/ai/assets/js/editor/pages/form-media/screens/generate-result.js
  modules/ai/assets/js/editor/pages/form-media/screens/image-loader.js
  modules/ai/assets/js/editor/pages/form-media/screens/prompt-gallery.js
  modules/ai/assets/js/editor/pages/form-media/screens/screen.js
  modules/ai/assets/js/editor/pages/form-media/screens/variations-placeholder.js
  modules/ai/assets/js/editor/pages/form-text/index.js
  modules/ai/connect/ai.php
Owners: @matipojo
